<h1>Hello, <%=@current_user.first_name%> <%=@current_user.last_name%>!</h1>
<h3>All songs in our hub: </h3>
<table>
  <thead>
    <th>Artist</th>
    <th>Title</th>
    <th>No. of Times the song has been added</th>
    <th>Add to Playlist</th>
  </thead>
  <tbody>
    <% @songs.each do |song|%>
    <tr>
      <td><%= song.artist%></td>
      <td><a href="/songs/<%=song.id%>"><%= song.title%></a></td>

      <td>
				<%= song.playlists.inject(0){|sum,pl|sum + pl.times} %>
			</td>
      <td><a href="/songs/add/<%=song.id%>">Add</a></td><
    </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h3>Add a song</h3>
<form action="/songs" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type="text" name="song[title]" placeholder="enter title"><br>
	<input type="text" name="song[artist]" placeholder="enter artist"><br>
	<input type="submit" value="Add Song">
</form>
